<% include header %>

<h1><a href="/"></a> <strong>PET NEWS</strong></h1>
<h3><a href="/about">elise huygen</a></h3>

<h2><span>Resource not found</span> :</h2>

<section>
<p>I am sorry but this resource has not been found</p>
</section>

<% include footer %>
