
<% include header %>
<h1><a href="/">PET NEWS</a></h1>

  <img class="aboutpic" src="img/about.jpg">
  <p class="bio">hello, I am <a href="#">elise huygen</a>, student at <a href="http://ap.be">artesis plantijn university college</a> antwerp and currently in my second bachelor year of graphic en digital design - <a href="https://www.ap.be/wetenschap-en-techniek/afstudeerrichting-crossmedia-ontwerp/317">crossmedia design</a>. </p>
